


.labels{

    position: absolute;
    

    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    

    div{
        height: 10px;
    }

    p{
        font-size: 12px;
        margin: 0px 10px;
        font-weight: 700;

    }
}