.cyContainer{
    width:70%;
    
    .cyDiv{
        z-index: 1;
        height: 75vh;
        

        border-radius: var(--border-rad) var(--border-rad) 0px 0px;
        line-height: 25px;
        background-color: white;
        /* border: 1px solid black; */
        cursor: pointer;
        /* position: relative; */
        margin: var(--margin-global) var(--margin-global) 0px var(--margin-global);
        /*box-shadow: 20px 5px 40px var(--gradient-shadow-0), 0px 5px 40px var(--gradient-shadow-1), -20px 5px 40px var(--gradient-shadow-2);*/
       



        
    
    
        .legend{

            position : absolute ; 
            top: 10px;
            left: 10px;

            z-index: 10;
    
            .lgditm{
                display: grid;
                grid-template-columns: 1fr 10fr;
                align-items: center;
                gap: 5px;
                .color{
                    width: 10px;
                    height: 10px;
                }
            }
    
        }
        .dropdown{
            z-index: 2;
            position : absolute ; 
            top: 10px;
            right: 10px;
            

            svg{
                width:  40px;
                height: 40px;
                padding: 5px
                }

            .layouts{
                z-index: 2;
                position : absolute ; 
                display: none;
                overflow: auto;
                right: 0px;
                top: 0px;
                padding: 10px;
                background-color: var(--bg-color-0);
                border-radius: var(--border-rad);
        
                .btn{
        
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 5px;
                    border-radius: var(--border-rad);
                    
                    
        
                    svg{
                    width:  40px;
                    height: 40px;
                    }
        
                    p{
                        margin: 0;
                        padding: 0;
                    }

        
                }
                .btn:hover{
                    background-color: var(--font-color-1);
                    
                }
                
                
            }
            
            

        }
    }
    .navbar{

        height: 10vh;
    
        display: flex;
        align-items: center;
        border-radius: 0px 0px var(--border-rad) var(--border-rad);
        margin: 0px var(--margin-global) var(--margin-global) var(--margin-global);
        /*border: 1px solid black;*/
        padding: 26px;
        background-color: white;
        /*box-shadow: 20px 5px 40px var(--gradient-shadow-0), 0px 5px 40px var(--gradient-shadow-1), -20px 5px 40px var(--gradient-shadow-2);*/
        
        svg{
            width : 50px;
            height: 50px ;
            padding: 10px;

            cursor: pointer;
        }

        .bar{
            width: 100%;
            
            
            position: relative;

            .date{

                position: absolute;

            }
            .slider{
                -webkit-appearance: none;
                position: relative;
                width: 100%;
                background-color: var(--bg-color-0);
                border-radius: var(--border-rad)


            }
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 25px;
                height: 25px;
                background: var(--bg-color-1);
                border-radius: var(--border-rad);
                cursor: pointer;
              }

        }
        
    }

}



.wrapper{
    position: relative;
    width: 30%;
    height: 85vh;
    margin: var(--margin-global) var(--margin-global) var(--margin-global) 0px;
    border-radius: var(--border-rad);


    .content{
        position: relative;
        z-index: 2;
        padding: 0px 20px;
        border-radius: var(--border-rad);

        .cntInfo{
            display: flex;
            justify-content: space-between;
        }
    } 

    .scrollable::-webkit-scrollbar {
        display: none;
    }
    
    .scrollable{
        height: 65vh;
        overflow-y: scroll;
        scrollbar-width: none;

        h3{
            margin: 0px;
            padding: 0px;
            padding-bottom: 5px;
        }

        .ctnInfo2{
            position: relative;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            z-index: 3;
            border-radius: var(--border-rad);

            .content2{
                position: relative;
                z-index: 4;
            }
        }
    }

    
    
}






.nodeEdgeValues{

    z-index: 3;

    .dropdown{
        z-index: 2;
        position : absolute ; 
        top: 0px;
        right: 10px;
        cursor: pointer;
        

        svg{
            width:  35px;
            height: 35px;
            padding: 5px
            }
    

        .orderBar{
            position : absolute ; 
            display: none;
            overflow: auto;
            top: 0px;

            .btn{
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: var(--bg-color-0);


                svg{
                    width: 35px;
                    height: 35px;

                }
            }
            .btn:hover{
                background-color: var(--font-color-1);
                
            }

        }
        
    }
    

    .edgeTable{
        
        overflow-y: scroll;
        max-height:300px;
        margin-top: 10px;

        p{
            margin: 0;
            padding: 5px;
           
        }
    }


}

