.cyContainer{
    width:70%;
    
    .cyDiv{
        z-index: 1;
        height: 80%;
        margin: 50px;

        border-radius: var(--border-rad) var(--border-rad) 0px 0px;
        line-height: 25px;
        background-color: white;
        /* border: 1px solid black; */
        cursor: pointer;
        /* position: relative; */
        margin: var(--margin-global) var(--margin-global) 0px var(--margin-global);
        /*box-shadow: 20px 5px 40px var(--gradient-shadow-0), 0px 5px 40px var(--gradient-shadow-1), -20px 5px 40px var(--gradient-shadow-2);*/
       



        .layouts{
            z-index: 2;
            position : absolute ; 
            top: 10px;
            right: 10px;
            display: flex;
    
            .btn{
    
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;
    
                svg{
                width:  40px;
                height: 40px;
                }
    
                p{
                    margin: 0;
                    padding: 0;
                }
    
            }
            
        }
    
    
        .legend{

            position : absolute ; 
            top: 10px;
            left: 10px;
    
            .lgditm{
                display: grid;
                grid-template-columns: 1fr 10fr;
                align-items: center;
                gap: 5px;
                .color{
                    width: 10px;
                    height: 10px;
                }
            }
    
        }
    }
    .navbar{

        height: 10%;
    
        display: flex;
        align-items: center;
        border-radius: 0px 0px var(--border-rad) var(--border-rad);
        margin: 0px var(--margin-global) var(--margin-global) var(--margin-global);
        /*border: 1px solid black;*/
        padding: 26px;
        background-color: white;
        /*box-shadow: 20px 5px 40px var(--gradient-shadow-0), 0px 5px 40px var(--gradient-shadow-1), -20px 5px 40px var(--gradient-shadow-2);*/
        
        svg{
            width : 50px;
            height: 50px ;
            padding: 10px;

            cursor: pointer;
        }

        .bar{
            width: 100%;
            
            position: relative;

            .date{

                position: absolute;

            }
            .slider{
                position: absolute;
                width: 100%;
                cursor: grab;

            }
        }
    }

}

.wrapper{
    position: relative;
    width: 30%;
    height: 90%;
    margin: var(--margin-global) var(--margin-global) var(--margin-global) 0px;
}

.content{
    position: relative;
    z-index: 2;
    padding: 0px 20px;
}


.cntInfo{
    display: flex;
    justify-content: space-between;
}

.ctnInfo2{
    position: relative;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    z-index: 3
}

.content2{
    position: relative;
    z-index: 4;
}



.nodeEdgeValues{

    z-index: 3;
    

    .orderBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-inline: 20px;

        

        svg{
            width: 35px;
            height: 35px;
            margin: 0px 15px;
            

            padding: 5px;
            cursor: pointer;
        }
    }

    .edgeTable{
        
        overflow-y: scroll;
        max-height:300px;
        margin-top: 10px;

        p{
            margin: 0;
            padding: 5px;
           
        }
    }


}