.navbar{
    z-index: 10;
    width : 70%;
    height : 80px ;
    position : absolute ; 
    bottom: 0;
    display : flex;
    align-items: center;
    padding: 20px;

    svg{
        width : 50px;
        height: 50px ;
        padding-bottom: 10px;

        

        cursor: pointer;
    }

    .bar{
        width: 80%;
        border-top: 4px solid black;

        margin: 0px 50px;
    }
}


.nodeEdgeValues{
    

    .orderBar{
        display: flex;
        flex-direction: row;
        align-items: center;
        

        svg{
            width: 35px;
            height: 35px;
            margin: 0px 15px;

            padding: 5px;
            cursor: pointer;
        }
    }

    .edgeTable{
        
        overflow-y: scroll;
        height:300px;
    }


}

.popperDiv { // fill free to modify as you prefer
    position: relative; 
    
    background-color: rgb(255, 255, 255);
    color: rgb(39, 171, 247);

    pointer-events: none;


    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.4;
    outline: 0;

    padding: 4px;
    
  }