.cyContainer{

    height: 85vh;
    background-color: white;
    margin: var(--margin-global);
    border-radius: var(--border-rad);

    display: grid;
    place-items: center;
    
}



.wrapper{
    position: relative;
    width: 30%;
    height: 85vh;
    margin: var(--margin-global) var(--margin-global) 0px 0px ;
    border-radius: var(--border-rad); ;
    background-color: white;

    display: grid;
    place-items: center;

    
}