
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

:root {
  --bg-color-0: #EEEEEE;
  --bg-color-1: #333333;
  --bg-color-2: rgb(206, 206, 206);

  --font-color-0: #333333;
  --font-color-1: #DDDDDD;
  --font-color-2: rgb(86, 146, 86);

  --border-rad: 3.5px;

  --gradient-shadow-0:#414141;
  --gradient-shadow-1:#a3a3a3;
  --gradient-shadow-2:#e2e2e2;

  --margin-global: 40px;

  
}



html,
body {
  background-color: var(--bg-color-0);
  color: var(--font-color-0);
  padding: 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  overflow-y: scroll;
  scrollbar-width: none; 
}


body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
  

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
