.ctn{

    width: 100vw;
    height: 100vh;
    

    display: flex;
    flex-direction: column;


    .header{
        flex: 0 1 auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        max-height: 58.8px;
        

        h1{
           margin: 8px; 
        }

        a {
            height: 100%;
            cursor: pointer;
            display: grid;
            place-items: center;
            padding: 0px 20px;
            font-weight: 600;
        }
        a:hover{
            background-color: black;
            color: white;
        }

        

    }


    .app{

        flex: 1 1 auto;
    }

}